* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.C_box {
    width: 300px;
    height: 450px;
    background-color: white;
    border: 5px;
    border-style: solid;
    border-color: #db9334;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: black;
    flex-direction: column;
    margin-right: 350px;
}

.row-first {
    flex: 30%;
    color: black;
    text-align: left;


}

.log {
    color: black;
    align-self: end;


}

#screen {
    margin-top: 50px;

}

.row-second {
    flex: 0 70%;
    display: flex;
}

.column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 10px;
    flex-direction: column;
}

.row-second .column:last-child .in-row {
    background-color: orange;
}

.in-row {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
}


.box {
    position: relative;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 15pt;
    margin: 8px;
    border-radius: 50%;
    color: #ffffff;
    background-color: rgba(128, 128, 128, 0.781);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: lavender;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.navbar-item {
    text-align: center;
    margin-left: 100px;
    padding-right: 100px;
}

#name {
    font-size: x-large;
}

.navbar-item:first-child {
    text-align: left;

}

.navbar-item:last-child {
    text-align: right;

}

.navbar-item ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;

}


.navbar-item li {
    margin: 0;
}

.navbar-item a {
    text-decoration: none;
    color: black;
    font-size: 22px;

    display: block;
}

.dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: orange;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.Lightmoon .darkMoon{
    cursor: pointer;
}